
<% if user_signed_in? %>
 <div class="status-control <%= current_user.participates_in?(@seed) ? 'li-freeze' : 'li-normal' %>">
	<div class="seed-digit" id="participation-digit"><%= @seed.participations.count %></div>
	
		<% if current_user.participates_in?(@seed) %>
			<div class="seed-description">이 시드에 참여했습니다.</div>
			<%= link_to "", current_user.participations.find_by_seed_id(@seed.id), 
			:method => :delete, :remote => true, :confirm => "정말로 시드 참여를 취소하시겠습니까?", :class => "cancel-button" %>
		<% else %>
			<div class="seed-description">
				<%= form_for current_user.participations.build(:seed_id => @seed.id, :status => 'progress'), :remote => true do |f| %>
					<%= f.hidden_field :seed_id %>
					<%= f.hidden_field :status %>
					<%= f.submit "참여하기", :class => "seed-participation-button" %>
				<% end %>
			</div>	
		<% end %>

 </div>

<% end %>