<% if user_signed_in? %>
	<div id="seed-new" class="main-box">
		<div class="item-box">
			<div class="item-left">
				<%= profile_photo(current_user, :small, 70) %>
			</div>

			<div class="item-content">
				<%= form_for @seed do |f| %>
				<div class="input-box" id="input-box-switch">
					<%= f.text_field :title %>
					<%= f.text_area :description %>
				</div>
				<div id="seed-button-box" style="display: block">
				<%= f.submit "시드 만들기", :id => "seed-submit" %>
				</div>
				
				<% end %>
			
			</div>

			<div class="clear"></div>
		</div>
	</div>
<% end %>